<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form Submitted Successfully</title>
</head>
<body>
<style>
h1{
    color:#227791;
}
body{
    text-align:center;
}
</style>
    <h1>Contact Form Submitted Successfully</h1>
    <p>Thank you for contacting us. We have received your message.</p>
    <p><b>We will get back to you shortly.</b></p>
    <p>Go back to <a href="{% url 'user_contact' %}">Contacts</a></p>
    
</body>
</html>
